div.prism-live {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
}

textarea.prism-live,
pre.prism-live {
    padding: .2rem .5rem;
    box-sizing: border-box;
    margin: 0;
}

textarea.prism-live {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: transparent;
    /* color: hsla(0,0%,50%,.4); */
    cursor: text;
    white-space: pre;
    border: 0;
    outline: none;
    background: transparent;
    resize: none;
    --selection-background: hsl(320, 80%, 25%);
    --selection-color: hsla(0, 0%, 100%, .8);
}

@supports (not (caret-color: black)) and (-webkit-text-fill-color: black) {
    textarea.prism-live {
        color: inherit;
        -webkit-text-fill-color: transparent;
    }
}

/* Setting specific colors is needed
	 * because otherwise Firefox shows blank text */
textarea.prism-live::-moz-selection {
    background: var(--selection-background);
    color: var(--selection-color);
}

textarea.prism-live::selection {
    background: var(--selection-background);
    color: var(--selection-color);
}

pre.prism-live {
    flex: 1;
    position: relative;
    pointer-events: none;
    overflow: hidden;
    max-height: 100%;
    --scrollbar-width: 17px;
    padding-bottom: var(--scrollbar-width);
    padding-right: var(--scrollbar-width);
}

pre.prism-live>code:empty::before {
    content: " "
}

/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*="language-"],
pre[class*="language-"] {
    color: #ccc;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    background: #2d2d2d;
}

/* Inline code */
:not(pre)>code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #999;
}

.token.punctuation {
    color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
    color: #e2777a;
}

.token.function-name {
    color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
    color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
    color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
    color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
    color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
    color: #67cdcc;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.inserted {
    color: green;
}